.remove_btn{
    margin-right: 0.8rem;
  
  }
  .fade-enter{
    opacity: 0.05;
  
  }
  .fade-enter-active{
    opacity:1;
    transition:opacity 1000s ease-in
    
  }
  .fade-exit{
    opacity:1;
  
  
  }
  .fade-exit-active{
    opacity:0.05;
    transition:opacity 1000s ease-in}
  
    