.contact-container{
    margin-top: 7rem;
    display: flex;
    height: 100vh;
  }
  .right-col {
    height: 100vh;
    padding: 5rem 0;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-container h1, label, button, .description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  
  .contact-container h1 {
    color: #e4a1ff;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 400;
    
  }
  
  .contact-container p {
    color: #420355;
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
  }
  
  label, .description {
    color: #be0af5;
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  form {
    width: 31.25rem;
    margin-top: 2rem;
    padding: 1rem 0;
  }
  
  input, textarea, label {
    width: 40vw;
    display: block;
  }
  
  .contact-container p, placeholder, input, textarea {
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  input::placeholder, textarea::placeholder {
    color: #010712;
  }
  
  input, textarea {
    color: #010712;
    font-weight: 500;
    background: #FCFDFD;
    border: none;
    border-bottom: 1px solid #818386;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
  }
  textarea {
    resize: none;
  }
  button {
    text-transform: uppercase;
    font-weight: 300;
    background: #3B3636;
    color: #FCFDFD;
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.8;
  }
  button:active {
    opacity: 0.8;
  }
  @media only screen and (max-width: 950px) {
    .logo {
        width: 8rem;
    }
    .contact-container h1 {
        font-size: 1.75rem;
    }
    .contact-container p {
        font-size: 0.7rem;
    }
    input, textarea, button {
        font-size: 0.65rem;
    }
    .description {
        font-size: 0.3rem;
        margin-left: 0.4rem;
    }
    button {
        width: 7rem;
    }
  }
  .client-signin{
      
    padding: 30px 20px;
    height: 550px;
    width: 370px;
    
  
  }
  .flex-section {
    display: flex;
    justify-content: space-between;
    
   
  }
  
  .flex-section > div {
    
    background-color: #f1f1f1;
    /* width: 200px;
    margin: 8px;
    text-align: center;
    line-height: 95px;
    font-size: 40px; */
  }
  .doctors{
    display: flex;
    justify-content: space-between;
    background-color:#f1f1f1;
  }