.contact-container{
    margin-top: 7rem;
    /* display: flex; */
    height: 100vh;
  }
  /* .right-col {
    height: 100vh;
    padding: 5rem 0;
    margin-left: auto;
    margin-right: auto;
  } */
  .contact-container h1, Label, Button, .description {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
  
  .contact-container h1 {
    color: #e4a1ff;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 400;
    
  }
  
  .contact-container p {
    color: #420355;
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
  }
  
  Label , .description {
    color: #be0af5;
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  Form {
    width: 31.25rem;
    margin-top: 2rem;
    padding: 1rem 0;
  }
  
  Input, textarea,  Label {
    width: 80vw;
    display: block;
  }
  
  .contact-container p, placeholder, Input, textarea {
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  Input::placeholder, textarea::placeholder {
    color: #010712;
  }
  
  Input, textarea {
    color: #010712;
    font-weight:500;
    background: #FCFDFD;
    border: none;
    border-bottom: 1px solid #818386;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
  }
  textarea {
    resize: none;
  }
  Button {
    text-transform: uppercase;
    font-weight: 300;
    background: white;
    color: yellow;
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
  Button:hover {
    opacity: 0.8;
  }
  Button:active {
    opacity: 0.8;
  }
  @media only screen and (max-width: 950px) {
    .logo {
        width: 8rem;
    }
    .contact-container h1 {
        font-size: 1.75rem;
    }
    .contact-container p {
        font-size: 0.7rem;
    }
    input, textarea, Button {
        font-size: 0.65rem;
    }
    .description {
        font-size: 0.3rem;
        margin-left: 0.4rem;
    }
    Button {
        width: 7rem;
    }
  }
  .Questionnaire{
      
    padding: 30px 20px;
    height: 550px;
    width: 370px;
    
  
  }
  .component{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    height: 300vh;
    padding: 5rem 0;
    margin-left: auto;
    margin-right: auto;
  }